@model EmployeesList.ViewModels.ChangeStructViewModel;
@{
    ViewData["Title"] = "Управление структурой";
}

<div class="text-center">
    <h3>Управление структурой</h3>
    <div style="width: 500px; text-align: center; margin: 0 auto;">
        <ul style="list-style-type:none; text-align:right">
            <li>
                <form method="post" asp-action="ChangeStructToDb">
                    <label>Добавить отдел: </label>
                    <input type="text" asp-for="DepartmentName" />
                    <br />
                    <input style="display:none" asp-for="ChangeStatus" value="AddDepartment" />
                    <input type="submit" value="Отправить" />
                    <br />
                    <span asp-validation-for="DepartmentName" style="color:darkorange"></span>
                </form>
            </li>
            <li>
                <br />
                <form method="post" asp-action="RemoveDepartment">
                    <label>Удалить отдел: </label>
                    <select asp-for="DepartmentName" id="selectDep" style="height:30px; width:190px">
                    </select>
                    <br />
                    <input type="submit" value="Отправить" />
                    <br />
                </form>
            </li>
            <li>
                <br />
                <form method="post" asp-action="ChangeStructToDb">
                    <label>Выбрать отдел: </label>
                    <select asp-for="DepartmentName" id="selectDep" style="height:30px; width:190px">
                    </select>
                    <br />
                    <label>Добавить должность: </label>
                    <input asp-for="PositionName" type="text" />
                    <br />
                    <input style="display:none" asp-for="ChangeStatus" value="AddPositionToDepartment" />
                    <input type="submit" value="Отправить" />
                    <br />
                    <span asp-validation-for="PositionName" style="color:darkorange"></span>
                </form>
            </li>
            <li>
                <br />
                <form method="post" asp-action="ChangeStructToDb">
                    <label>Выбрать отдел: </label>
                    <select asp-for="DepartmentName" class="selectDepFromPos1" id="selectDep" style="height:30px; width:190px">
                    </select>
                    <br />
                    <label>Удалить должность: </label>
                    <select asp-for="PositionName" id="selectPos1" style="height:30px; width:190px">
                    </select>
                    <br />
                    <input style="display:none" asp-for="ChangeStatus" value="RemovePosition" />
                    <input type="submit" value="Отправить" />
                </form>
            </li>
            <li>
                <br />
                <form method="post" asp-action="ChangeStructToDb">
                    <label>Выбрать отдел: </label>
                    <select asp-for="DepartmentName" id="selectDep" style="height:30px; width:190px">
                    </select>
                    <br />
                    <label>Изменить название отдела: </label>
                    <input asp-for="NewName" type="text" />
                    <br />
                    <input style="display:none" asp-for="ChangeStatus" value="ChangeDepartmentName" />
                    <input type="submit" value="Отправить" />
                    <br />
                    <span asp-validation-for="NewName" style="color:darkorange"></span>
                </form>
            </li>
            <li>
                <br />
                <form method="post" asp-action="ChangeStructToDb">
                    <label>Выбрать отдел: </label>
                    <select asp-for="DepartmentName" class="selectDepFromPos2" id="selectDep" style="height:30px; width:190px">
                    </select>
                    <br />
                    <label>Выбрать должность: </label>
                    <select asp-for="PositionName" id="selectPos2" style="height:30px; width:190px">
                    </select>
                    <br />
                    <label>Изменить название должности: </label>
                    <input asp-for="NewName" type="text" />
                    <br />
                    <input style="display:none" asp-for="ChangeStatus" value="ChangePositionName" />
                    <input type="submit" value="Отправить" />
                    <br />
                    <span asp-validation-for="NewName" style="color:darkorange"></span>
                </form>
            </li>
        </ul>
    </div>
</div>

@*Для валидации модели*@
@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

@*Подключаем JQuery*@
<script src="https://code.jquery.com/jquery-2.2.4.js"
        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>

@*Переменные*@
<script>
    var selectsDep = document.querySelectorAll('#selectDep');
    var selectDepFromPos1 = document.querySelector('.selectDepFromPos1');
    var selectPos1 = document.getElementById('selectPos1');
    var selectDepFromPos2 = document.querySelector('.selectDepFromPos2');
    var selectPos2 = document.getElementById('selectPos2');
</script>

@*Используемые функции*@
<script>
    /*Получаем отделы из базы данных*/
    function GetDepartmens() {
        $.ajax("GetDepatmentsToView",
            {
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        for (var j = 0; j < selectsDep.length; j++) {
                            let optEl = document.createElement("option");
                            optEl.innerHTML = data[i];
                            selectsDep[j].appendChild(optEl);
                        }
                    }
                    GetPositions(data[0], selectPos1);
                    GetPositions(data[0], selectPos2);
                }
            }
        );
    }

    /*Получаем доступные должности отдела*/
    function GetPositions(viewDepatmentName, select) {
        $.ajax("GetDepatmentPositionsToView?" + $.param({ depatmentName: viewDepatmentName }),
            {
                success: function (data) {
                    while (select.firstChild) {
                        select.removeChild(select.firstChild);
                    }
                    for (var i = 0; i < data.length; i++) {
                        let optEl = document.createElement("option");
                        optEl.innerHTML = data[i];
                        select.appendChild(optEl);
                    }
                }
            }
        );
    }
</script>

<script>
    GetDepartmens();

    selectDepFromPos1.addEventListener("change", function () {
        let choiceDepatmentName = selectDepFromPos1.value;
        GetPositions(choiceDepatmentName, selectPos1);
    });

    selectDepFromPos2.addEventListener("change", function () {
        let choiceDepatmentName = selectDepFromPos2.value;
        GetPositions(choiceDepatmentName, selectPos2);
    });
</script>