@{
    ViewData["Title"] = "Проверка названия";
}

<div style="text-align:left">
    <h3 style="color:darkorange">Название занято.</h3>
    <h3>Укажите другое название.</h3> 
    <a asp-action="ChangeStruct"><h4>Вернуться</h4> </a> 
</div>